In [17]:
# Reglas nemotecnicas, como se 
setmana = ['dilluns', 'dimarts', 'dimecres', 'dijous', 'divendres', 'dissabte', 'diumenge']

In [18]:
print(setmana)

['dilluns', 'dimarts', 'dimecres', 'dijous', 'divendres', 'dissabte', 'diumenge']

In [21]:
for dia in setmana:
    print(dia),
print('Se acabo')

dilluns
dimarts
dimecres
dijous
divendres
dissabte
diumenge
Se acabo

In [34]:
mesos = ['Gener', 'Febrer', 'Març', 'Abril', 'Maig', 'Juny', 'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Desembre']
iter = 1
for mes in mesos:
    print("El",iter,"mes del año es",mes)
    iter += 1
print("Se acabo")

El 1 mes del año es Gener
El 2 mes del año es Febrer
El 3 mes del año es Març
El 4 mes del año es Abril
El 5 mes del año es Maig
El 6 mes del año es Juny
El 7 mes del año es Juliol
El 8 mes del año es Agost
El 9 mes del año es Setembre
El 10 mes del año es Octubre
El 11 mes del año es Novembre
El 12 mes del año es Desembre
Se acabo

In [37]:
iter = 1
for mes in mesos:
    if iter != 6:print("El",iter,"mes del año es",mes)
    iter += 1
print("Se acabo")

El 1 mes del año es Gener
El 2 mes del año es Febrer
El 3 mes del año es Març
El 4 mes del año es Abril
El 5 mes del año es Maig
El 7 mes del año es Juliol
El 8 mes del año es Agost
El 9 mes del año es Setembre
El 10 mes del año es Octubre
El 11 mes del año es Novembre
El 12 mes del año es Desembre
Se acabo

In [35]:
palabra = 'Domingo'
for letra in palabra:
    print("la letra es", letra)

la letra es D
la letra es o
la letra es m
la letra es i
la letra es n
la letra es g
la letra es o

In [ ]:
Ciudad = 'Girona'
if Ciudad == 'Teruel':
    print("Sí es Teruel")
else: 
    print("No es Teruel")

No es Barcelona

In [38]:
numeros = [15,33,48,67,25,19,73,88,14]
for num in numeros:
    if num>40:print(num)
    iter += 1
print("Se acabo")

48
67
73
88
Se acabo

In [40]:
mesos = ['Gener', 'Febrer', 'Març', 'Abril', 'Maig', 'Juny', 'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Desembre']
iter = 1
for mes in mesos:
    if len(mes)==5:print(mes)
    iter += 1
print("Se acabo")

Gener
Abril
Agost
Se acabo

In [ ]:
diamante = 66

if (diamante<0 | diamante>100):
    print("Fuera de rango")
elif diamante < 25:
    print("Valor de diamante es en el rango 0-25")
elif diamante < 50:
    print("Valor de diamante es en el rango 25-50")
elif diamante < 75:
    print("Valor de diamante es en el rango 50-75")
elif diamante < 75:
    print("Valor de diamante es en el rango 50-75")
else:
    print("Fura de rango")

Valor de diamante es en el rango 50-75

Funciones de Conversion a:

int: Conversion a Entero
float: Conversion a Decimal
str: Conversion a Texto
bool: true o false

match ... case

In [3]:
diamante = 29
match diamante:
    case 10:
        print("Diamante vale 20")
    case 20:
        print("Diamante vale 20")
    case 30:
        print("Diamante vale 20")
    case default:
        print("ni 10, ni 20, ni 30")

ni 10, ni 20, ni 30

In [ ]:
ciudad = "Barcelona"
match ciudad:
    case "Barcelona":
        print("Correcto")

Para salir de un bucle, se utiliza BREAK

Para saltar una iteracion, se utiliza CONTINUE

In [4]:
palabra = "Domingo"
for letra in palabra:
    if letra=="n":
        break
    else:
        print("mi letra", letra)

mi letra D
mi letra o
mi letra m
mi letra i

In [5]:
palabra = "Domingo"
for letra in palabra:
    if letra=="n":
        continue
    else:
        print("mi letra", letra)

mi letra D
mi letra o
mi letra m
mi letra i
mi letra g
mi letra o

In [31]:
r = float(2)
r = r - 0.2
print(r)

1.8

In [12]:
palabra = "Domingo"

print(palabra.upper())

print(palabra.lower())

palabra = palabra.replace('D', 'X')

palabra

DOMINGO
domingo

'Xomingo'

In [13]:
palabra = "Esto es una frase"

lista = palabra.split()

print(lista)
lista[0]

['Esto', 'es', 'una', 'frase']

'Esto'

Practica 7: Mediante la variable gamma, devolver un texto que ponga el valor de gamma es correcto, mediante una estructura match...case con estas 4 opciones: Barcelona, Girona, Tarragona, Lleida, sino poner otra localidad.

Practica 8: Imprimir por separado las letras de la variable palabra que vale 
"supercalifragilisticoespialidoso" en mayusculas menos las letras a

Practica 9: Mediante unalista de numeros [18, 25, 33, 17, 48, 35, 73, 19] 
Imprimir los numeros mediante un bucle, mientras la suma delos valores impresos sea menor de 180

Practica 10: Imprimir la lista ciudades ['BARCELONA', 'MURCIA', 'TOLEDO', 'SALAMANCA'] en minusculas siempre que el numero de caracteres de la ciudad sea diferente a 6

In [23]:
gamma = (input("Escribe una ciudad:"))

match gamma:
    case 'Barcelona':
        print("Correcto")
    
    case 'Girona':
        print("Correcto")
    
    case 'Tarragona':
        print("Correcto")
    
    case 'Lleida':
        print("Correcto")
    case default:
        print("INCORRECTO")

INCORRECTO

In [18]:
palabra = "supercalifragilisticoespialidoso"
for letra in palabra:
    if letra=="a":
        continue
    else:
        print("mi letra", letra.upper())

mi letra S
mi letra U
mi letra P
mi letra E
mi letra R
mi letra C
mi letra L
mi letra I
mi letra F
mi letra R
mi letra G
mi letra I
mi letra L
mi letra I
mi letra S
mi letra T
mi letra I
mi letra C
mi letra O
mi letra E
mi letra S
mi letra P
mi letra I
mi letra L
mi letra I
mi letra D
mi letra O
mi letra S
mi letra O

In [19]:
suma = 0
for i in [18, 25, 33, 17, 48, 35, 73, 19]:
    #Esto es el codigo del bucle
    if suma<180:print("El valor es",i)
    suma = suma + i
print("Suma total:", suma)

El valor es 18
El valor es 25
El valor es 33
El valor es 17
El valor es 48
El valor es 35
El valor es 73
Suma total: 268

In [21]:
ciudades = ['BARCELONA', 'MURCIA', 'TOLEDO', 'SALAMANCA', 'ZARAGOZA', 'MADRID']
for ciudadA in ciudades:
    #Esto es el codigo del bucle
    if len(ciudadA)!= 6:print(ciudadA.lower())

barcelona
salamanca
zaragoza

Practica 11:

Partiendo de la variable frase, que contendra el valor: "El viernes os quiero ver a todos, se donde vivis". Imprimir las palabras por individual con el orden correcto.

In [30]:
frase = "El viernes os quiero ver a todos, se donde vivis"
frase = frase.split()

print(frase)

i = 1
for palabra in frase:
    print("Palabra num.", i, "=", palabra)
    i = i + 1

['El', 'viernes', 'os', 'quiero', 'ver', 'a', 'todos,', 'se', 'donde', 'vivis']
Palabra num. 1 = El
Palabra num. 2 = viernes
Palabra num. 3 = os
Palabra num. 4 = quiero
Palabra num. 5 = ver
Palabra num. 6 = a
Palabra num. 7 = todos,
Palabra num. 8 = se
Palabra num. 9 = donde
Palabra num. 10 = vivis

Practica 12: Crear una funcion que sume 12 a un numero y lo divida entre 3, me lo devuleva con un texto.

Practica 13: Crear una funcion que pasandole como parametro un numero entre1-12, nos devuelva el noombre del mes corresponiente en letras ... WARNING, si no es entre 1-12

Practica 14: Crear una funcion que nos devuelva el area de un triangulo

In [ ]:
#practica 12

#+1 parametro en la funcion
def dividir(a):
    b = a + 12
    print("El resultado entero es:", round((b/3),2))

a = float(input("Ponga el valor de a"))

dividir(int(a))

El resultado entero es: 11

In [ ]:
#practica 13
def meses(a):
    match a:
        case 1:
            print("Enero")
        case 2:
            print("Febrer")
        case 3:
            print("Març")
        case 4:
            print("Abril")
        case 5:
            print("Maig")
        case 6:
            print("Juny")
        case 7:
            print("Juliol")
        case 8:
            print("Agost")
        case 9:
            print("Setembre")
        case 10:
            print("Octubre")
        case 11:
            print("Novembre")
        case 12:
            print("Desembre")
        case default:
            print("Numero INCORRECTE")

b = input ("Introudueix un numero de mes")

meses(int(b))

Desembre

In [38]:
#practica 14

#+1 parametro en la funcion
def triangulo(a, b):
    print("El area del triangulo es:", (a*b)/2)
    
a = float(input("Ponga el valor de altura"))
b = float(input("Ponga el valor de base"))

triangulo(a, b)

El area del triangulo es: 3.0

Practica 15: Crear una funcion que nos reste 10 a un numero y lo multiplique por 100. El resultado debe incluir 3 decimales. Llamar a la funcion y sumar otro numero

Practica 16: Funcion que compare a y b, y que nos devuelva con un texto los 3 posibles resultados: a es mayor b, b es mayor a, a y b iguales.

In [46]:
#practica 15

def operacion(a):
    b = round((a - 10) * 100, 3)
    return (b)    

x = float(input("Introducir un numero"))
operacion(x) + 40

-860.0

In [43]:
#practica 16

def comparacion(a, b):
    if a>b:print(a, "es mayor a", b)
    elif b>a:print(b, "es mayor", a)
    else:print(a, "y", b, "son iguales")    

a = float(input("Introducir el numero a"))
b = float(input("Introducir el numero b"))

comparacion(a, b)

5.0 es mayor a 2.0

#Practica 17: Mediante un bucle while, imprimir el valor de una variable i, inicialmente con valor 10, mientras sea menor que 50. La i se incrementa de 2 en 2

In [47]:
i = 10
while i<50:
    print(i)
    i+=2

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48