In [1]:
# Vamos a cargar en un dataframe el fichero sumaporpais.csv

import pandas as pd
sumaporpais = pd.read_csv(r"C:\Users\formacio\Downloads\sumaporpais.csv")
sumaporpais

   Ship Country   Amount
0       Austria   4483.4
1       Belgium   6438.8
2        Brazil  19398.5
3       Finland   4492.8
4        France   5624.8
5       Germany  41568.0
6       Ireland   4889.0
7         Italy   1796.6
8        Mexico   4950.1
9         Spain   2466.2
10       Sweden   7030.5
11  Switzerland   3115.7
12           UK   1955.0
13          USA  21842.6
14    Venezuela   7516.1

In [2]:
# Vamos a gurdar el dataframe en formato Excel, con la libreria: openpyxl

ruta = r"C:\Users\formacio\Downloads\sumaporpais.xlsx" # ruta donde queremos guardar el archivo Excel

sumaporpais.to_excel(ruta,sheet_name="Paises",header=True,index=False)
print("Conseguido")

Conseguido

In [3]:
# Queremos trabajar en el archivo Excel. Queremos hacer modificaciones

# Primer paso:
import openpyxl as op

book = op.load_workbook(r"C:\Users\formacio\Downloads\sumaporpais.xlsx")

new_sheet = book.create_sheet(title="Prueba")

new_sheet['A1'] = "Si me sale, estoy aprobado"

# Debemos guardar

book.save(r"C:\Users\formacio\Downloads\sumaporpais.xlsx")

print("Conseguido")

Conseguido

In [4]:
# Conectarme al libro de Excel y a la hoja Paises

book = op.load_workbook(r"C:\Users\formacio\Downloads\sumaporpais.xlsx")

paises = book['Paises'] # paises ahora es un Excel

# Voy a ver el nombre del campo, usaremos la funcion cell (poner fila y columna del Excel)

paises.cell(1,1).value

paises.cell(2,2).value

# Para ver el archivo hace falta un while y un print
# Vamos a recorrer todas las filas de la hoja Paises, cuya columna 2 contenga datos de Amount (fila 1 --> titulo "Amount")

fila = 2

while paises.cell(fila,2).value!=None:
    print("Pais", paises.cell(fila,1).value, "- Amount", paises.cell(fila,2).value)
    fila+=1

Pais Austria - Amount 4483.4
Pais Belgium - Amount 6438.8
Pais Brazil - Amount 19398.5
Pais Finland - Amount 4492.799999999999
Pais France - Amount 5624.8
Pais Germany - Amount 41568
Pais Ireland - Amount 4889
Pais Italy - Amount 1796.6
Pais Mexico - Amount 4950.1
Pais Spain - Amount 2466.2
Pais Sweden - Amount 7030.5
Pais Switzerland - Amount 3115.7
Pais UK - Amount 1955
Pais USA - Amount 21842.6
Pais Venezuela - Amount 7516.1

Practica 36:
Conectarse al fichero de Excel Ventas_Groucery Nov-Dic 2014.xlsx
Concatenar los meses de Noviembre + Diciembre en uno solo
Calcular la columna Importe = Precio Unidad * Cantidad
Hacer una agrupacion por Categoria con la suma de Importe
Guardar en un Dataframe el resultado de la agrupacion (Generar indices)
Guardar en un fichero de Excel
Abrir este fichero de Excel con openpyxl, conerctarse a la hoja que contiene los datos y poner al final de los mismos, en la columna 1 "TOTAL", en la columna 2 (Haber sumado los importes)
Guardar el Excel.

In [19]:
import pandas as pd
#Cargar el Noviembre
nov2014 = pd.read_excel(r"C:\Users\formacio\Downloads\VentasGroucery Nov-Dic.xlsx", 
                           sheet_name="Ventas Noviembre 2014")
#agosto2014
dic2014 = pd.read_excel(r"C:\Users\formacio\Downloads\VentasGroucery Nov-Dic.xlsx",
                           sheet_name="Ventas Diciembre 2014")

#Juntar los 2 meses(dataframes):
dos2meses = pd.concat([nov2014,dic2014],ignore_index=True)
dos2meses
#Calcular la columna nueva Amount
dos2meses['Importe'] = dos2meses['Precio Unidad']*dos2meses['Cantidad']

#Agrupacion por categoria
resultado = dos2meses.groupby(['Categor√≠a']).Importe.sum()
# resultado es un objeto
# Lo pasamos a Dataframe
resultado = pd.DataFrame(resultado.reset_index())

resultado


ruta = r"C:\Users\formacio\Downloads\mesesporcategoria.xlsx" # ruta donde queremos guardar el archivo Excel

resultado.to_excel(ruta,sheet_name="VentasGroucery",header=True,index=False)
print("Conseguido")

import openpyxl as op

meses = op.load_workbook(r"C:\Users\formacio\Downloads\mesesporcategoria.xlsx")

ventas = meses['VentasGroucery']

fila = 2
total = 0
while ventas.cell(fila,2).value!=None:
    total += ventas.cell(fila,2).value
    fila+=1
ventas.cell(fila,1).value = "TOTAL"
ventas.cell(fila,2).value = total

total
meses.save(r"C:\Users\formacio\Downloads\mesesporcategoria.xlsx")

Conseguido