In [ ]:
# Cómo trabajar las fechas en Python?
# necesitamos la libreria DATETIME
# Para llamar a una libreria: con IMPORT o con FROM
# Importa la clase DATE de la libreria DATETIME
from datetime import date
hoy = date.today()
print(hoy)
# Imprimir por separado, mes y año
print("El dia de hoy es", hoy.day)
print("El mes de hoy es", hoy.month)
print("El año de hoy es", hoy.year)

In [ ]:
# Trabajamos con fechas y horas: DATETIME
from datetime import datetime
ahora = datetime.now()
print(ahora)
print(ahora.hour)
print(ahora.minute)
print(ahora.second)
print(ahora.microsecond)

In [ ]:
# Asignat una fecha concreta a una variable
fecha1 = date(2022,10,5)
print(fecha1)
if hoy>fecha1:
    print("Hoy es despues de", fecha1)

In [ ]:
# Cómo personalizar una fecha: strftime (string format time)
# Dia del mes
formato = hoy.strftime('%d')
print(formato)
# Dia de la semana
formato = hoy.strftime('%w')
print(formato)
# Dia de la semana en letras
formato = hoy.strftime('%A')
print(formato)
# Mes de la fecha
formato = hoy.strftime('%m')
print(formato)
# Año de la fecha (2 ultimos digitos del año)
formato = hoy.strftime('%y')
print(formato)
# Año de la fecha (todos los 4 digitos)
formato = hoy.strftime('%Y')
print(formato)
# Semana del Año
formato = hoy.strftime('%W')
print(formato)
formato = hoy.strftime('%W %m %d %A')
print(formato)

In [ ]:
# Diferentes formato de hora actual
ahora = datetime.now()
formato = ahora.strftime('%H')
print(formato)
# Formato de minutos
ahora = datetime.now()
formato = ahora.strftime('%M')
print(formato)
# Formato de segundos
ahora = datetime.now()
formato = ahora.strftime('%S')
print(formato)

PRACTICA 18: Crear una funcion con 3 parametros (dia, mes y año, introducidos por input). La funcion debe devolver texto con:
- dia de la semana (en letras)
- fecha en formato mm/dd/yyyy

PRACTICA 19: Calcular los segundos transcurridos entr 2 ejecuciones de celdas diferentes

In [ ]:
from datetime import date
def funcionFecha(dia, mes, año):
    fecha = date(año, mes, dia)
    # Dia de la semana en letras
    
    return fecha.strftime('%A %m/%d/%Y')

dia = int(input("Dime el dia (en 2 cifras):"))
mes = int(input("Dime el mes (2 cifras):"))
año = int(input("Dime el año (4 cifras):"))

funcionFecha(dia, mes, año)

In [ ]:
from datetime import datetime
ahora1 = datetime.now()

print(ahora1.second)

In [ ]:
from datetime import datetime
ahora2 = datetime.now()

print(ahora2.second)
time = ahora2 - ahora1

if time.seconds>60: 
    print("La difernecia es:", round(time.seconds/60), "minutos")
    print("La difernecia es:", time.seconds, "segundos")
else:
    print("Diferencia entre ahora1 y ahora2 en SEGUNDOS:", time.seconds)

Libreria Pandas sirve para trabajar con Datos, importar de diferentes orígenes, transformarlos y volver a exportar. Es la libreria más utilizada. Power BI ya reconoce Panda

Pandas = pasado

presente = polars o vue

Pandas cuneta con 3 tipos de estructuras:
    - Series: 1 dimension (tienen un indice asociado). Son homogeneas (mismo tipo para todos los valores)
    - Dataframe: 2 dimensiones (coma tabla BBDD, filas/columnas)
    - Campos/Resgistros: Conjunto de Series
    - Paneles: 3 dimensiones (al estilo cubo OLAP)

Cómo instalar una libreria externa? 
    - pip (c:/ pip install pandas)
    - desde VSCode 


Cómo ver las librerias instaladas: pip list

In [ ]:
# Primero llamar a la libreria Pandas
import pandas as pd

semana = pd.Series(['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'])
semana
semana[1]

In [ ]:
#Lista semana2
semana2 = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes']
serie_semana = pd.Series(data=semana2)
serie_semana

In [ ]:
numeros = [12, 34, 23, 65, 54, 78, 99, 120]
sn = pd.Series(numeros)
print(sn)

In [ ]:
valores = [true, false, true, false]
sv = pd.Series(data=valores)
print(sv)

In [ ]:
# Funciones de resumen de una serie
print("La suma de los valores de sn es:", sn.sum())

In [ ]:
# Promedia
print("El promedio de la serie sn es:", round(sn.mean()))

In [ ]:
# Valores máximos y mínimos
print("El valor más grande es:", sn.max())
print("El valor más pequeño es:", sn.min())

In [ ]:
# La serie del acumulado
print("La serie de los acumuldos es:", sn.cumsum())

In [ ]:
# La varianza es la variabilidad de una serie numerica respecto a su media
print("La varianza es:", sn.var())

In [ ]:
# La desviacion tipica es la desviacion media con respecto a su media
print("La desviacion tipica es:", sn.std())

In [ ]:
# Resumen estadístico
print(sn.describe())

In [ ]:
# Cómo aplicar una función a todos los elemntos de una serie: APPLY
def suma3(x):
    return x +3

print("La serie sn:", sn)
print("Aplicamos la funcion Suma3():", sn.apply(suma3))

In [ ]:
# Cómo ordenar una serie
print("Lista ordenada Ascendente:", sn.sort_values(ascending=True))

In [ ]:
# Los indices tambien se han reordenado
# Para reordenar con ignore_index

print("Lista ordenada Ascendente:", sn.sort_values(ascending=True, ignore_index=True))

In [ ]:
print("Lista ordenada Descendente:", sn.sort_values(ascending=False, ignore_index=True))

In [ ]:
# Filtrado de datos se hace entre []
sn[sn>49]

In [ ]:
# Guardar filtro
filtro = sn>40
sn[filtro]

In [ ]:
sn[sn<40]

Practica 20: Crearemos una serie de pandas, con los siguientes numeros[25,17,23,435,56,45,89,12,45,67,97,123,235]. La llamaremos numeros_VIP.
Clonar esta serie para tener solamente los numeros mayores de 40, en orden ascendente y reindexados. A esta serie le llamaremos numeros_VIP40. A esta nueva serie le aplicaremosuna funcion, que si el numero esta entre 35 y 70, le sume 10 y sino le reste 5.
Ver en un texto el promedio de la lista numeros_VIP40 redondeando a 3 decimales.
Ver en un texto la desviacion tipica de la serie numeros_VIP40.
Ver en un texto la varianza de la serie numeros_VIP40.
Ver la suma acumulada de la serie numeros_VIP40.

In [ ]:
numeros = [25,17,23,435,56,45,89,12,45,67,97,123,235]
numeros_VIP = pd.Series(numeros_VIP)

filtro = numeros_VIP>40
numeros_VIP40 = numeros_VIP[filtro].sort_values(ascending=True, ignore_index=True)
print("numerosVIP", numeros_VIP)
print("numeros_VIP40", numeros_VIP40)





def funcionVip(x):
    if x>=35 & x<=70:
        return x +10
    else:
        return x - 5
    
print("numeros_VIP40 con funcion", numeros_VIP40.apply(funcionVip))
print("Promedio", numeros_VIP40.mean())
print("Desviacion tipica:", numeros_VIP40.std())
print("Varianza:", numeros_VIP40.var())
print("Serie de Suma acumulada:", numeros_VIP40.cumsum())

In [ ]:
# Ver la cantidad de veces qu esta repetido un valor
numeros_VIP40.value_counts()

In [ ]:
print("Serie de Suma acumulada:", numeros_VIP40.cumsum())

In [ ]:
# Como juntar 2 series Pandas

serie1 = pd.Series([2,34,18,75])
serie2 = pd.Series([35,68,75,84,105,11])
serie3 = pd.concat([serie1,serie2], ignore_index=True)
serie3

In [ ]:
# Dataframes de Panda: 2 dimensiones (columnas y filas)
# Se pueden cargar de 2 maneras: manualmente oleyendo de un origen de datos

import pandas as pd

clase = pd.DataFrame([{'Nombre': 'Luis','Estatura': 1.75,'Edad': 28},
                    {'Nombre': 'Marta','Estatura': 1.5,'Edad': 48},
                    {'Nombre': 'Andres','Estatura': 1.25,'Edad': 38},
                    {'Nombre': 'Marina','Estatura': 1.05,'Edad': 68},
                    {'Nombre': 'Pedro','Estatura': 1.15,'Edad': 58},
                    {'Nombre': 'Nerea','Estatura': 1.35,'Edad': 18}
                    ])
clase

In [ ]:
#Cómo ver solamente un campo (una serie)
clase['Nombre'].sort_values(ascending=True,ignore_index=True)

In [ ]:
# Cómo ver mas de un campo o serie
clase[['Nombre', 'Edad']]

Cómo añadir un campo o serie a un DataFrame.
Existen varias maneras:
1.- Poniendo un valor manual fijo
2.- Usando Apply con una funcion
3.- Partiendo de una o mas columnas

In [ ]:
# Metodo 1:añadir un valor fijo
clase['Academia'] = 'IT Academy'
clase

In [ ]:
clase['Edad2'] = clase['Edad'] + 3
clase

In [112]:
# Metodo 2: Funcion

def resta2(x):
    return x -2

clase['Edad3'] = clase['Edad'].apply(resta2)
clase

   Nombre  Estatura  Edad    Academia  Edad2  Edad3
0    Luis      1.75    28  IT Academy     31     26
1   Marta      1.50    48  IT Academy     51     46
2  Andres      1.25    38  IT Academy     41     36
3  Marina      1.05    68  IT Academy     71     66
4   Pedro      1.15    58  IT Academy     61     56
5   Nerea      1.35    18  IT Academy     21     16